.loader {
    position: relative;
    width: 20vmin;
    height: 20vmin;
    overflow: hidden;
  }
  
  .loader::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
    right: 100%;
    width: 9.6vmin;
    height: 9.6vmin;
    box-shadow: 9.6vmin 9.6vmin 0 0 tomato, 9.6vmin 20vmin 0 0 lime, 20vmin 20vmin 0 0 dodgerblue;
    animation: shuffle 5s linear infinite;
  }
  
  @keyframes shuffle {
    0% {
      box-shadow: 9.6vmin 9.6vmin 0 0 tomato, 9.6vmin 20vmin 0 0 lime, 20vmin 20vmin 0 0 dodgerblue;
    }
    25% {
      box-shadow: 9.6vmin 20vmin 0 0 tomato, 20vmin 20vmin 0 0 lime, 20vmin 9.6vmin 0 0 dodgerblue;
    }
    50% {
      box-shadow: 20vmin 20vmin 0 0 tomato, 20vmin 9.6vmin 0 0 lime, 9.6vmin 9.6vmin 0 0 dodgerblue;
    }
    75% {
      box-shadow: 20vmin 9.6vmin 0 0 tomato, 9.6vmin 9.6vmin 0 0 lime, 9.6vmin 20vmin 0 0 dodgerblue;
    }
    100% {
      box-shadow: 9.6vmin 9.6vmin 0 0 tomato, 9.6vmin 20vmin 0 0 lime, 20vmin 20vmin 0 0 dodgerblue;
    }
  }
  